@model MVC_DATABASE.Models.ViewModels.AdminDashboard

@{
    ViewBag.Title = "Administrator Dashboard";
}

<div class="dashboard">

    <h1 class="text-center dashboard">Administrator Dashboard</h1>

    <hr />
    @if (Model.messageCount > 0)
    {
        <div class="alert alert-dismissable text-center dashboard" role="alert">
            There are currently @Html.DisplayFor(model => model.messageCount) unread messages in Baptist Health's inbox.<br />
            Go to the @Html.ActionLink("Message Center", "Index", "MESSAGEs", null, new { @class = "dashboard" }) to view them.<br />
        </div>
    }
    
    @if (Model.pendingVendors > 0)
    {
        <div class="alert alert-warning text-center dashboard" role="alert">
            There are currently @Html.DisplayFor(model => model.pendingVendors) vendor applications awaiting approval.<br />
            Go to the @Html.ActionLink("Account Management", "Index", "Account", null , new { @class = "dashboard" }) page to respond.<br />
        </div>
    }
    else
    {
        <div class="alert alert-success text-center" role="alert">
            There are no unanswered vendor applications
        </div>
    }

    @for (var contract = 0; contract < Model.contractSummaries.Count(); contract++)
    {
        <div class="alert alert-success text-center" role="alert">
            Contract @Html.DisplayFor(model => model.contractSummaries[contract].ContractNumber) has expired.
        </div>
    }

    <hr />

    <div id="calendar">

        <script>

            $(document).ready(function () {

                var events = JSON.parse('@Html.Raw(Model.calendarEvents)');

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: true,
                    eventLimit: true,
                    eventSources: [ events ]
                });

            });

        </script>

    </div>

</div>