@model MVC_DATABASE.Models.ViewModels.EmployeeDashboard

@{
    ViewBag.Title = "Employee Dashboard";
}

<div class="dashboard">

    <h1 class="text-center dashboard">Employee Dashboard</h1>

    <hr />

    @for (var rfi = 0; rfi < Model.rfiSummaries.Count(); rfi++)
    {
        <div class="alert alert-info text-center" role="alert">
            RFI @Html.DisplayFor(model => model.rfiSummaries[rfi].RFINumber) has expired and has @Html.DisplayFor(model => model.rfiSummaries[rfi].ResponseCount) responses.
        </div>
    }

    @for (var rfp = 0; rfp < Model.rfpSummaries.Count(); rfp++)
    {
        <div class="alert alert-danger text-center" role="alert">
            RFP @Html.DisplayFor(model => model.rfpSummaries[rfp].RFPNumber) has expired and has @Html.DisplayFor(model => model.rfpSummaries[rfp].ResponseCount) responses.
        </div>
    }

    <hr />

    <div id="calendar">

        <script>

            $(document).ready(function () {

                var events = JSON.parse('@Html.Raw(Model.calendarEvents)'); 

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: true,
                    eventLimit: true,
                    eventSources: [ events ]
                });

            });

        </script>

    </div>

</div>


