@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "Create RFP";
}
<center>
    <h1>Create RFP</h1>
    <div>
        @Html.ActionLink("Back to RFP Home", "Index")
    </div>
</center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.rfp.RFIID, "RFIID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RFIID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rfp.RFIID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.rfp.CATEGORY, new SelectList (ViewBag.Category))
                @Html.ValidationMessageFor(model => model.rfp.CATEGORY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.TEMPLATEID, "TEMPLATEID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TEMPLATEID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rfp.TEMPLATEID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.EXPIRES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rfp.EXPIRES, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rfp.EXPIRES, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                @Html.ActionLink("Cancel", "Index")
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
