@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "RFP Details";
}
<center>
    <h1>RFP Details</h1>
    @Html.ActionLink("Back to RFP Home", "Index")
</center>
    <div>
           <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.rfp.RFPID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.RFPID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.rfp.RFIID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.RFIID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rfp.TEMPLATEID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.TEMPLATEID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rfp.CATEGORY)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.CATEGORY)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rfp.CREATED)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.CREATED)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rfp.EXPIRES)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfp.EXPIRES)
                </dd>
            </dl>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.RFPInvitedVendors, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-sm-12">
            @Html.ListBoxFor(model => model.RFPInvitedVendors, (MultiSelectList)ViewBag.AcceptedVendors, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <center>
        <p>
            @Html.ActionLink("Invite Vendors", "Edit", new { id = Model.rfp.RFPID }) |
            @Html.ActionLink("Back to RFP Home", "Index")
        </p>
    </center>