@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "Edit RFP";
}
<center>
<h1>Invite Vendors</h1>
@Html.ActionLink("Back to RFP Home", "Index")
</center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.RFPID, "RFP ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.RFPID, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.RFIID, "RFI ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.RFIID, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.TEMPLATEID, "TEMPLATE ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.TEMPLATEID, new { @readonly = "readonly", @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.CATEGORY, new { @readonly = "readonly", @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.CREATED, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.CREATED, new { @readonly = "readonly", @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rfp.EXPIRES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.rfp.EXPIRES, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.RFPInvitedVendors, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-sm-12">
                @Html.ListBoxFor(model => model.RFPInvitedVendors, (MultiSelectList)ViewBag.AcceptedVendors, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(model => model.RFPInviteList, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-sm-12">
                @Html.ListBoxFor(model => model.RFPInviteList, (MultiSelectList)ViewBag.SelectVendors, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<center>
    <div>
        @Html.ActionLink("Back to RFP Home", "Index")
    </div>
</center>