@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "RFP";
}


<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Create New RFP", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
    <div class="col-lg-8">
        <h2 class="text-center">Current/Open Requests for Proposals</h2>
    </div>
</div>
<br />
<table class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rfp.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.EXPIRES)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.OpenRFPList != null)
    {
    
        foreach (var item in Model.OpenRFPList)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFPID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CREATED)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXPIRES)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RFPID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RFPID }) |
                        @Html.ActionLink("Responses", "VendorResponse", new { id = item.RFPID })
                    </td>
                </tr>
            </tbody>
        }

}
</table>

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Create New RFP", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
    <div class="col-lg-8">
        <h2 class="text-center">Expired Requests for Proposals</h2>
    </div>
</div>
<br />
<table class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rfp.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.EXPIRES)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.ExpiredRFPList != null)
    {

        foreach (var item in Model.ExpiredRFPList)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFPID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CREATED)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXPIRES)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.RFPID }) |
                        @Html.ActionLink("Responses", "VendorResponse", new { id = item.RFPID })
                    </td>
                </tr>
            </tbody>
        }

    }
</table>