@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "RFP";
}

<br />


<table id="expired-tabs">
    <tr>
        <td>
            @Html.ActionLink("Create New RFP", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
        <td>
            <h2>Current/Open Requests for Informations</h2>
        </td>
        <td>
            @Html.ActionLink("Expired RFPs", "ExpiredIndex", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
    </tr>
</table>


<br />

<table id="rfpindextable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rfp.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.EXPIRES)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.OpenRFPList != null)
    {
        <tbody>
            @foreach (var item in Model.OpenRFPList)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFPID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CREATED)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXPIRES)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RFPID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RFPID }) |
                        @Html.ActionLink("Responses", "VendorResponse", new { id = item.RFPID })
                    </td>
                </tr>

            }
        </tbody>
    }
</table>

<br />

<table id="expired-tabs">
    <tr>
        <td>
            @Html.ActionLink("Create New RFP", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Expired RFPs", "ExpiredIndex", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
    </tr>
</table>


<script>
    $(document).ready(function () {
        $("#rfpindextable").tablesorter();
    });
</script>
