@model MVC_DATABASE.Models.ViewModels.RFPCreate

@{
    ViewBag.Title = "RFP";
}

<br />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Create New RFP", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
    <div class="col-lg-8">
        <h2 class="text-center">Current/Open Requests for Proposals</h2>
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Expired RFPs", "ExpiredIndex", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
</div>
<br />
<table id="rfpindextable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rfp.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfp.EXPIRES)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.OpenRFPList != null)
    {
        <tbody>
            @foreach (var item in Model.OpenRFPList)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFPID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CREATED)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXPIRES)
                    </td>
                    <td>
                        @Html.ActionLink("Invite Vendors", "Edit", new { id = item.RFPID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RFPID }) |
                        @Html.ActionLink("Responses", "VendorResponse", new { id = item.RFPID })
                    </td>
                </tr>

            }
        </tbody>
    }
</table>

<br />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Create New RFI", "Create", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
    <div class="col-lg-8"></div> <!--Blank wrapepr so that the buttons have equal alignment with those at the top.-->
    <div class="col-lg-2">
        @Html.ActionLink("Expired RFIs", "ExpiredIndex", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#rfpindextable").tablesorter();
    });
</script>