@Model IEnumerable<MVC_DATABASE.Models.ViewModels.Respond>

    @{
        ViewBag.Title = "RFP - Respond";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="rfp-respond">
        <center>
            <h1>RFP Details</h1>
            <br />
            @Html.ActionLink("Back to RFP List", "Index")
        </center>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="control-label">RFP ID#: </label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RFPID)
            </dd>

            <dt>
                <label class="control-label">Category: </label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CATEGORY)
            </dd>

            <dt>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.RFPID)
            </dd>

        </dl>

        <center>
            <p>
                @Html.ActionLink("Back to RFP Home", "VendorIndex")
            </p>
        </center>
    </div>

