@Model MVC_DATABASE.Models.ViewModels.RFPVendorRespond

@{
    ViewBag.Title = "RFP - Respond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rfp-respond">
    <center>
        <h1>RFP - Response</h1>
    </center>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RFPList.rfp.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFPList.rfp.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFPList.rfp.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFPList.rfp.EXPIRES)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RFPList.rfp.RFPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFPList.rfp.CATEGORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFPList.rfp.CREATED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFPList.rfp.EXPIRES)
            </td>
        </tr>
    </table>

    <br />

    <p>Download the @Html.ActionLink("GHX Template", "Download") and complete to respond.</p>

    <br />

    @using (Html.BeginForm("Upload", "RFPs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Upload completed GHX Template</legend>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="Upload" />
            </div>
        </fieldset>
    }

    <br />

    <center>
        @Html.ActionLink("Return to RFP Home", "VendorIndex")
    </center>
</div>