@model MVC_DATABASE.Models.ViewModels.RFPVendorIndex

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "RFP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RFP - Index</h2>

<table id="vendorrfpindextable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RFP.RFPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFP.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFP.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFP.EXPIRES)
            </th>
            <th></th>
        </tr>
    </thead>

    @if (Model.RFPList != null)
        {
            foreach (var item in Model.RFPList)
                {
                    var invite = item.RFPINVITEs.Where(inv => inv.Id == User.Identity.GetUserId()).FirstOrDefault();
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RFPID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CATEGORY)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CREATED)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EXPIRES)
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(invite.OFFER_PATH))
                                    {
                                        @Html.ActionLink("Respond", "Respond", new { id = item.RFPID })
                                    }
                                else
                                    {
                                        @Html.ActionLink("Details", "VendorRFPDetails", new { id = item.RFPID })
                                    }
                            </td>
                        </tr>
                    </tbody>
                }
        }

</table>

<script>
    $(document).ready(function () {
        $("#vendorrfpindextable").tablesorter();
    });
</script>


