@model MVC_DATABASE.Models.ViewModels.RFPResponse

@{
    ViewBag.Title = "Vendor Response";
    ViewBag.NoResponse = "No Response";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Back to RFP Home", "Index")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vendor.ORGANIZATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfpinvite.OFFER_PATH)
        </th>
        <th></th>
    </tr>
    @if (Model.inviteList != null)
    {
        foreach (var item in Model.inviteList)
        {
            var path = item.OFFER_PATH;
            string noResponse = "No Response";
            var vendorOrg = from x in Model.vendorlist
                            where x.Id == item.Id
                            select x.ORGANIZATION;
            string organization = vendorOrg.FirstOrDefault().ToString();
            <tr>
                <td>
                    @organization
                </td>
                <td>
                    @if (string.IsNullOrWhiteSpace(path))
                    {
                        @ViewBag.NoResponse
                    }
                    else
                    {
                        @Html.ActionLink(item.AspNetUser.VENDOR.ORGANIZATION, "DownloadOffer", new { path = item.OFFER_PATH })
                    }

                </td>
            </tr>
       
        }
    }

</table>
