@Model MVC_DATABASE.Models.ViewModels.RFPVendorRespond.RFPList

@{
    ViewBag.Title = "RFP - Respond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rfp-respond">
    <center>
        <h1>RFP - Respond</h1>
    </center>

    <table class="table">
        <tr>
            <th>
                <label class="control-label">RFP ID </label>
            </th>
            <th>
                <label class="control-label">RFI ID </label>
            </th>
            <th>
                <label class="control-label">Category</label>
            </th>
            <th>
                <label class="control-label">Created</label>
            </th>
            <th>
                <label class="control-label">Expires</label>
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RFP.RFPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => model.RFP.RFIID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFP.CATEGORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFP.CREATED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFP.EXPIRES)
            </td>
        </tr>
    </table>

    <hr />

    <center>
        @Html.ActionLink("Back to RFP Home", "VendorIndex")
    </center>

</div>