@Model MVC_DATABASE.Models.ViewModels.RFPResponse

@{
    ViewBag.Title = "View Details";
    ViewBag.noResponse = "No response";
}

<center>
    <h1>RFP - Details</h1>
    <div>
        @Html.ActionLink("Back to RFP Home", "VendorIndex")
    </div>
</center>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.RFP.RFPID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RFP.RFIID)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RFP.CATEGORY)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RFP.CATEGORY)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RFP.CREATED)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RFP.CREATED)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RFP.EXPIRES)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RFP.EXPIRES)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.RFPInvite.OFFER_PATH)
    </dt>

    <dd>
        @if (!string.IsNullOrEmpty(Model.RFPInvite.OFFER_PATH))
            {
                @Html.ActionLink(Model.RFPInvite.AspNetUser.VENDOR.ORGANIZATION, "DownloadResponse", new { path = Model.RFPInvite.OFFER_PATH })
            }
        else
            {
                @ViewBag.noResponse;
            }
    </dd>
</dl>