<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Baptist Health Supply Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/table_sorter/index_style.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.min.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalendar.print.css") " rel="stylesheet" media="print" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.metadata.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="frame">
        <div id="header">

            <div class="banner">
                <a href=@Url.Action("Index", "Home")>
                    <img alt="logo" src="~/content/images/baptistlogo.png" />
                </a>
            </div>

            <div class="subnav btn-oldstyle2">
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_LoggedIn")
                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>

            <div id="nav">
                <div id="tabs">
                    <div class="btn-oldstyle">
                        
                        @if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
                        {
                            
                            <li> 
                            @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink", @class = "home" })
                            </li>
                            <li> 
                                @Html.ActionLink("RFI", "Index", "RFIs", routeValues: null, htmlAttributes: new { id = "RFILink" })
                            </li>
                            <li>
                                @Html.ActionLink("RFP", "Index", "RFPs", routeValues: null, htmlAttributes: new { id = "RFPLink" })
                            </li>
                            <li>
                                @Html.ActionLink("Contracts", "Index", "Contracts", routeValues: null, htmlAttributes: new { id = "contractsLink" })
                            </li>
                            <li>
                                @Html.ActionLink("Reports", "Index", "Report", routeValues: null, htmlAttributes: new { id = "reportsLink" })
                            </li>
                            if(User.IsInRole("Administrator"))
                            { 
                            <li>
                                @Html.ActionLink("Account Management", "Index", "Account", routeValues: null, htmlAttributes: new { id = "MGMTLink" })
                            </li>
                            }
                            <li>  @Html.ActionLink("Help", "Index", "Home", routeValues: null, htmlAttributes: new { id = "helpLink" })</li>
                        }
                        else if (User.IsInRole("Vendor"))
                        {
                            <li>
                                @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink", @class = "home" })
                            </li>
                            <li>
                                @Html.ActionLink("RFI", "VendorIndex", "RFIs", routeValues: null, htmlAttributes: new { id = "RFILink" })
                            </li>
                            <li>
                                @Html.ActionLink("RFP", "VendorIndex", "RFPs", routeValues: null, htmlAttributes: new { id = "RFPLink" })
                            </li>
                            <li>
                                @Html.ActionLink("Contracts", "VendorIndex", "Contracts", routeValues: null, htmlAttributes: new { id = "contractsLink" })
                            </li>
                            <li>  @Html.ActionLink("Help", "Index", "Home", routeValues: null, htmlAttributes: new { id = "helpLink" })</li>
                        }
                        else
                        {
                            <li> @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink" })</li>
                            <li> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        }
                    
                    </div> <!--btn-oldstyle-->
                </div> <!--tabs-->
            </div> <!--nav-->
        </div>

        <div id="body-content">

            @RenderBody()

        </div>

        <div id="footer" class="home">
            <p class="home">&copy; Copyright 2014 Baptist Health. All Rights Reserved.</p>
            <p class="home">2701 Eastpoint Parkway | Louisville, Kentucky 40223 | (502) 896-5000</p>
            <br>
            <nav class="home">
                <a href="http://bhsi.com/">Return to Baptist Health</a> |
                <a href="http://bhsi.com/Left+Navigation/About/Compliance" class="home">Compliance</a> |
                <a href="http://bhsi.com/Left+Navigation/About/Legal+Disclaimer">Disclaimer</a> |
                <a href="http://bhsi.com/Left+Navigation/About/Mission+Statement">Mission Statement</a> |
                <a href="http://bhsi.com/Left+Navigation/About/Privacy+Notice">Privacy Notice</a> |
                <a href="http://bhsi.com/Homepage/Site+Map">Site Map</a> |
                <a href="https://www.bhsi.com/portal/site/bhsi/contactus">Contact Us</a> |
                <a href="http://m.bhsi.com/">Mobile</a>
            </nav>
        </div> <!--footer-->
    </div> <!--frame-->

    @RenderSection("scripts", required: false)

</body>
</html>
