@model MVC_DATABASE.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>
            [
                @Html.ActionLink("Change your name", "ChangeName")
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>
            [
            @Html.ActionLink("Change your email", "ChangeEmail")
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        @if (User.IsInRole("Vendor"))
        {
            <dt>Contact Info:</dt>
            <dd>
                [
                     @Html.ActionLink("Change your contact's information", "ChangeContactInfo")
                ]
            </dd>
        }
    </dl>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
               @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
