@model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex
@using MVC_DATABASE.Controllers

@{
    ViewBag.Title = "Create RFI";

}

@section Scripts {

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>
    <script type="text/jscript">
        $("#RFIListInvite").empty()
        $('#CATEGORY').click(function () {
            $.getJSON('/RFIs/GetAcceptedVendors' + $('#CATEGORY').val(), function (data) {
                var url = "/RFIs/GetAcceptedVendors"
                var productCategory = $("#CATEGORY").val().toString();
                $.ajax(url, { ProductCategory : productCategory }, function (data) {
                    //$('#CATEGORY').change(function () {
                    //    debugger;
                    //  /*  $.getJSON('/RFIs/GetAcceptedVendors' + $('#CATEGORY').val(), function (data) { */ 
                    //        var url = "/RFIs/GetAcceptedVendors"
                    //        var productCategory = $("#CATEGORY").val().toString();
                    //            OnSuccessPopulateListBox(data);
                    $("#RFI_CATEGORY").on("change", function (e) {
                        var dropValue = $(this).val();
                        debugger;
                        //var url = "RFIs/GetAcceptedVendors?ProductCategory=" + dropValue;
                        var url = '@Url.Action("GetAcceptedVendors", "RFIs")';
                        var data = dropValue;
                        $.ajax({
                            type: "GET",
                            url: url,
                            data: data,
                            datatype: 'JSON',
                            success: function (data) { OnSuccessPopulateListBox(data); },
                            error: function (data) { showError(data); }
                        });
                    });
                    
                
                });
            })
        })
        //});
        // })
        //})
        function OnSuccessPopulateListBox(data) {
            $("#RFIListInvite").empty()
            debugger;

        }
        function showError(data) {
            debugger;
        }
        </script>
    }
    
    

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RFI</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RFI.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RFI.CATEGORY, new SelectList (ViewBag.Category))
                @Html.ValidationMessageFor(model => model.RFI.CATEGORY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RFI.TEMPLATEID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.templateId, (SelectList) ViewBag.Templates)
                @Html.ValidationMessageFor(m => m.RFI.TEMPLATEID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RFI.EXPIRES, htmlAttributes: new { @class = "control-label col-md-2" })           
                <div class="col-md-10 input-group-sm">  
                    
                    @Html.TextBoxFor(model => model.RFI.EXPIRES, new { @class = "form-control datepicker", placeholder = "Enter Expiration date here..." })
                    @Html.ValidationMessageFor(model => model.RFI.EXPIRES)
                </div>    
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFIInviteList, htmlAttributes: new { @class = "control-label col-md-2" })       
            
            <div class="col-md-10">
            @if(ViewBag.AcceptedVendors != null)
            {
                @Html.ListBoxFor(m => m.RFIInviteList, (MultiSelectList)ViewBag.AcceptedVendors)
            }
            </div>

            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


