@model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex
@using MVC_DATABASE.Controllers

@{
    ViewBag.Title = "Create RFI";

}

@section Scripts {
    
     <!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/content/themes/base/jquery-ui.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.min-1.11.1.js")"></script>

<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.date-picker').datepicker(); //Initialise any date pickers
    });
</script>
    <script type="text/jscript">
        $(function(){
            $("#RFIInviteList").hide()


            $("#RFI_CATEGORY").on("change", function (e) {
                //$("#RFI_CATEGORY").chosen().change("#RFIInviteList");
                var dropValue = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAcceptedVendors", "RFIs")",
                    data: {
                        ProductCategory: dropValue
                    },
                    datatype: 'JSON',
                    contentType: "application/json"
                })
                    .done(OnSuccessPopulateListBox)
                    .fail(function (data) { showError(data); });
            });

           

            //$("#RFIInviteList").trigger("chosen:updated");

            function OnSuccessPopulateListBox(data) {
                $("#RFIInviteList").empty()
                data.forEach(function (vendor) {
                    $("#RFIInviteList").append('<option value =' + vendor.Id + '>' + vendor.ORGANIZATION + '</option>')
                });
                $("#RFIInviteList").show()
                //debugger;
            }

            function showError(data) {
                debugger;
            }
        });
        </script>
    }
    
    
<center>
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Back to RFI Home", "Index")
</center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RFI.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RFI.CATEGORY, new SelectList (ViewBag.Category),"--- Select a Category ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RFI.CATEGORY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.RFI.TEMPLATEID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.templateId, (SelectList) ViewBag.Templates)
                @Html.ValidationMessageFor(m => m.RFI.TEMPLATEID, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RFI.CREATED, htmlAttributes: new { @class ="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.RFI.CREATED, new { htmlAttributes = new { @class = "form-control date-picker"} })
                @Html.ValidationMessageFor(model => model.RFI.CREATED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFI.EXPIRES, htmlAttributes: new { @class = "control-label col-md-2" })           
                <div class="col-md-10">  
                    
                    @Html.EditorFor(model => model.RFI.EXPIRES, new { htmlAttributes = new { @class = "form-control date-picker" } })
                    @Html.ValidationMessageFor(model => model.RFI.EXPIRES)
                </div>    
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFIInviteList, htmlAttributes: new { @class = "control-label col-md-2" })       
            
            <div class="col-md-10">
            @if(ViewBag.AcceptedVendors != null)
            {
                @Html.ListBoxFor(m => m.RFIInviteList, (MultiSelectList)ViewBag.AcceptedVendors)<br />
                @Html.ValidationMessageFor(m => m.RFIInviteList)
            }
            </div>

            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>


