@model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RFI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RFI.RFIID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.RFIID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFI.TEMPLATEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.TEMPLATEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFI.CATEGORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.CATEGORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFI.CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFI.EXPIRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.EXPIRES)
        </dd>
    </dl>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.RFIInviteVendorList, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-sm-12">
            @Html.ListBoxFor(model => model.RFIInviteVendorList, (MultiSelectList)ViewBag.AcceptedVendors, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RFI.RFIID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
