@model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex

@{
    ViewBag.Title = "Details";
}
<center>
    <h1>RFI Details</h1>
    @Html.ActionLink("Back to RFI Home", "Index")
</center>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.RFI.RFIID, "RFI Id", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.RFIID)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RFI.TEMPLATEID, "Template Id", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.TEMPLATEID)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RFI.CATEGORY, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.CATEGORY)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RFI.CREATED, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.CREATED)
        </dd>

        <dt>
            @Html.LabelFor(model => model.RFI.EXPIRES, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFI.EXPIRES)
        </dd>
    </dl>
        <div class="col-sm-12">
            @Html.LabelFor(model => model.RFIInviteVendorList, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-sm-12">
            @Html.ListBoxFor(model => model.RFIInviteVendorList, (MultiSelectList)ViewBag.AcceptedVendors, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
<br/>
<p>
    @Html.ActionLink("Invite Vendors", "Edit", new { id = Model.RFI.RFIID }) |
    @Html.ActionLink("Back to RFI Home", "Index")
</p>
