@model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex

@{
    ViewBag.Title = "RFI - Expired";
}

<br />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Back to RFI Home", "Index", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
    <div class="col-lg-8">
        <h2 class="text-center">Expired Requests for Proposals</h2>
    </div>
</div>

<br />

<table id="rfiexpiredtable" class="table table-striped table-hover tablesorter">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.RFI.RFIID)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.RFI.CATEGORY)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.RFI.EXPIRES)
            </th>
            <th class="text-center">RFI Actions</th>
        </tr>
    </thead>
    @if (Model.ExpiredRFIList != null)
    {
        <tbody>
            @foreach (var item in Model.ExpiredRFIList)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.RFIID)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CATEGORY)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.EXPIRES)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Details", "Details", new { id = item.RFIID }) |
                        @Html.ActionLink("Vendor Responses", "VendorResponse", new { id = item.RFIID })
                    </td>
                </tr>
            }
        </tbody>
    }

</table>

<br />

<div class="row">
    <div class="col-lg-2">
        @Html.ActionLink("Back to RFI Home", "Index", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#rfiexpiredtable").tablesorter();
    });
</script>