    @model MVC_DATABASE.Models.ViewModels.RFIEmployeeIndex

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RFI.RFIID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFI.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFI.EXPIRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorResponseCount)
        </th>
        <th></th>
    </tr>
    @if(Model.RFIList != null)
    { 
        foreach (var item in Model.RFIList)
        {
           /* foreach (var x in Model.RFIInviteList)
            {
                if (item.RFIID == x.RFIID)
                {
                    if (x.GHX_PATH != null)
                    {
                        Model.VendorResponseCount++;
                    }
                }
            }*/
        
    
        
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RFIID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXPIRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.VendorResponseCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RFIID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RFIID }) |
            @Html.ActionLink("Responses", "VendorResponse", new { id=item.RFIID})
        </td>
    </tr>
}
}

</table>
