@Model MVC_DATABASE.Models.ViewModels.RFIVendorRespond

@{
    ViewBag.Title = "Respond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rfi-respond">
    <center>
        <h1>RFI - Response</h1>
    </center>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RFIList.rfi.RFIID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFIList.rfi.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFIList.rfi.CREATED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFIList.rfi.EXPIRES)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RFIList.rfi.RFIID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFIList.rfi.CATEGORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFIList.rfi.CREATED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFIList.rfi.EXPIRES)
            </td>
        </tr>
    </table>

    <br />

    <p>Download the @Html.ActionLink("GHX Template", "Download") and complete to respond.</p>

    <br />

    @using (Html.BeginForm("Upload", "RFIs", FormMethod.Post, new {enctype= "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        
        <fieldset>
            <legend>Upload completed GHX Template</legend>
            <div class="editor-field">
                @Html.TextBox("file", "", new {type = "file"})
            </div>
            <div class="editor-field">
                <input type="submit" value="Upload" />
            </div>
        </fieldset>
    }
    
    <br />

    <center>
        @Html.ActionLink("Return to RFI Home", "VendorIndex")
    </center>
</div>

