@model MVC_DATABASE.Models.ViewModels.RFIResponse

@{
    ViewBag.Title = "Respond";
    ViewBag.instruction = "*Please download, fill out, and then upload this template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <center>
        <h1>RFI - Response</h1>
        <div>
            @Html.ActionLink("Back to RFI Home", "VendorIndex")
        </div>
    </center>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.rfi.RFIID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.rfi.RFIID)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.rfi.CATEGORY)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.rfi.CATEGORY)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.rfi.CREATED)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.rfi.CREATED)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.rfi.EXPIRES)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.rfi.EXPIRES)
    </dd>

    <dt>
        @Html.DisplayName("RFI Template")
        <br/>
       @ViewBag.instruction
    </dt>

    <dd>
            @Html.ActionLink("RFI Template - "+Model.rfi.TEMPLATEID, "DownloadTemplate", new { path = Model.rfi.TEMPLATE.PATH })
    </dd>
</dl>


@using (Html.BeginForm("Respond", "RFIs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.rfiinvite.PRIMARYKEY)
    @Html.HiddenFor(m => m.rfiinvite.RFIID)
    @Html.HiddenFor(m => m.rfiinvite.Id)
    
    @Html.LabelFor(m => m.rfiinvite.GHX_PATH, "GHX Path") 
    @Html.TextBoxFor(m => m.File, null, new { type = "file" , @class="input-file"})
    @*<input type="file" name="file" />*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">           
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
        <br />

        <center>
            @Html.ActionLink("Return to RFI Home", "VendorIndex")
        </center>



