@model MVC_DATABASE.Models.ViewModels.VendorRFI

@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "RFIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendor RFIs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rfi.RFIID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfi.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfi.CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfi.EXPIRES)
        </th>
        <th></th>
    </tr>

@if (Model.rfiList != null)
{
    foreach (var item in Model.rfiList)
    {
        var invite = item.RFIINVITEs.Where(inv => inv.Id == User.Identity.GetUserId()).FirstOrDefault();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RFIID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXPIRES)
            </td>
                @if (string.IsNullOrEmpty(invite.GHX_PATH))
                {
                    @Html.ActionLink("Respond", "Respond", new { id = item.RFIID })                    
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.RFIID })
                }
        </tr>        
    }    
}
</table>