@model MVC_DATABASE.Models.ViewModels.RFIResponse

@{
    ViewBag.Title = "Vendor Response";
    ViewBag.NoResponse = "No Response";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Back to RFI Home", "Index")
<table id="rfiresponsetable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.vendor.ORGANIZATION, "Organization", htmlAttributes: new { @class = "control-label col-md-3" })
            </th>
            <th>
                @Html.LabelFor(model => model.rfiinvite.GHX_PATH, "GHX", htmlAttributes: new { @class = "control-label col-md-3" })
            </th>
            <th>
                @Html.LabelFor(model => model.rfiinvite.CATALOGPATH, "Catalog", htmlAttributes: new { @class = "control-label col-md-3" })
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.inviteList != null)
        {
            foreach (var item in Model.inviteList)
            {
                var path = item.GHX_PATH;
                var catalogpath = item.CATALOGPATH;

                var vendorOrg = from x in Model.vendorlist
                                where x.Id == item.Id
                                select x.ORGANIZATION;
                string organization = vendorOrg.FirstOrDefault().ToString();
                <tr>
                    <td>
                        @organization
                    </td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(path))
                        {
                            @ViewBag.NoResponse
                        }
                        else
                        {
                            @Html.ActionLink(item.AspNetUser.VENDOR.ORGANIZATION, "DownloadGHX", new { path = item.GHX_PATH })
                        }

                    </td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(catalogpath))
                        {
                        @ViewBag.NoResponse
                        }
                        else
                        {
                        @Html.ActionLink(String.Format(item.AspNetUser.VENDOR.ORGANIZATION+ " Catalog"), "DownloadCatalog", new { catalogpath = item.CATALOGPATH })
                        }

                    </td>
                </tr>


            }
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $("#rfiresponsetable").tablesorter();
    });
</script>
