@model MVC_DATABASE.Models.ViewModels.FAQCreate
@{
    ViewBag.Title = "FAQs";
}


@if (User.IsInRole("Administrator"))
{
    <div class="row">
        <div class="col-lg-2">
            @Html.ActionLink("Create New FAQ", "AddFAQ", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </div>
        <div class="col-lg-8">
            <h2 class="text-center">Frequently Asked Questions</h2>
        </div>
        <div class="col-lg-2">
            @Html.ActionLink("Video Tutorials", "BaptistVideos", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-2">
            @Html.ActionLink("Video Tutorials", "DirectToVideos", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </div>
        <div class="col-lg-8">
            <h2 class="text-center">Frequently Asked Questions</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
}

<table id="faqindextable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FAQ.QUESTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAQ.ANSWER)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FAQList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QUESTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ANSWER)
                </td>
               @if (User.IsInRole("Administrator"))
               {
                   <td>
                    @Html.ActionLink("Edit", "EditFAQ", new { id = item.Id }) 
                   </td>
                   <td>
                       @Html.ActionLink("Delete", "DeleteFAQ", new { id = item.Id})
                   </td>
               }
            </tr>
        }
    </tbody>

</table>
