@using Remotion;
@using LinqToExcel;
@using MVC_DATABASE.Models;
@using MVC_DATABASE.Models.ViewModels;


@model MVC_DATABASE.Models.ViewModels.ReportRecord

@{
    ViewBag.Title = "RFP Report";
}

<h2>RFP Report</h2>

@if (Model.RfpInviteList != null)
{
    EVICEntities db = new EVICEntities();
    
    foreach (var r in Model.RfpInviteList)
    {
        //Organization Name
        var organization = from i in db.RFPINVITEs
                           join v in db.VENDORs on i.Id equals v.Id 
                           where v.Id == r.Id
                           select v.ORGANIZATION;

        string responseOrg = organization.FirstOrDefault().ToString();
        
        
        //RFPLine Information - From Excel Sheet
        string filePath = r.OFFER_PATH;

        var excelFile = new ExcelQueryFactory(filePath);
        decimal TotalCost = 0M;

        List<ReportLine> reportLineList = new List<ReportLine>();
            
        var lines = from l in excelFile.WorksheetRange<ReportLine>("A12", "V138", "Financial Analysis")
                    select l;
        
        foreach (var l in lines)
        {
            ReportLine rfp = new ReportLine();

            rfp.Description = l.Description;
            rfp.AnnualUsage = l.AnnualUsage;
            rfp.NewEachPrice = l.NewEachPrice;
            rfp.LineCost = l.AnnualUsage * l.NewEachPrice;

            reportLineList.Add(rfp);
        }

        foreach (var reportLine in reportLineList)
        {
            TotalCost += reportLine.LineCost;
        }      

            
    //<h3>@responseOrg</h3>
    <h3>$@TotalCost</h3>
    
    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th>
                New Each Price
            </th>
            <th>
                Annual Usage
            </th>
            <th>
                Estimated Cost
            </th>
        </tr>
        @foreach(var l in reportLineList)
        {
            <tr>
                <td>
                    @l.Description
                </td>
                <td>
                    @l.NewEachPrice
                </td>
                <td>
                    @l.AnnualUsage
                </td>
                <td>
                    @l.LineCost
                </td>
            </tr>
            
        }
    </table>
    }
}

