@model MVC_DATABASE.Models.ViewModels.ReportRecord

@{
    ViewBag.Title = "Report";
}

<div class="col-lg-8">
    <h2 class="text-center">RFP Reports</h2>
</div>

<input type="button" value="Generate Item Report" onclick="input type=" button" value="Create" onclick="location.href='@Url.Action("ItemReport", "Report")'" />

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rfp.RFPID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rfp.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rfp.CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rfp.EXPIRES)
        </th>
        <th></th>
    </tr>
    @if(Model.RfpList != null)
    { 
        foreach (var r in Model.RfpList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => r.RFPID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => r.CATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => r.CREATED)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => r.EXPIRES)
                </td>
                <td>
                    @Html.ActionLink("View RFP Report", "Details", new { id = r.RFPID })
                </td>
            </tr>            
        }
    }        
</table>
