@model IEnumerable<MVC_DATABASE.Models.ViewModels.ContractIndex>

@using MVC_DATABASE.Models;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>    
<table id="contractindextable" class="table tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contractID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contractPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.contractID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rfpID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contractPath)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.contractID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.contractID })
                </td>
            </tr>
        }
    }
    </tbody>
    
</table>

<script>
    $(document).ready(function () {
        $("#contractindextable").tablesorter();
    });
</script>
