@model MVC_DATABASE.Models.ViewModels.ContractIndex

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contract.CONTRACTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfp.RFPID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfp.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendor.ORGANIZATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract.CONTRACT_PATH)
        </th>
        <th></th>
    </tr>

@foreach (var item in indexview) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRACTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFPID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORGANIZATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRACT_PATH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CONTRACTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CONTRACTID })
        </td>
    </tr>
}

</table>
