@model IEnumerable<MVC_DATABASE.Models.ViewModels.VendorContractIndex>

@using MVC_DATABASE.Models;

@{
    ViewBag.Title = "VendorIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <h2>Vendor Contracts</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contractID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contractPath)
            </th>

            <th></th>
        </tr>

        @{foreach (var item in Model)
          {
              //var invite = item.CONTRACTs.Where(inv => inv.Id == User.Identity.GetUserId()).FirstOrDefault();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.contractID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rfpID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contractPath)
                </td>
                @*<td>
                    @if (string.IsNullOrEmpty(invite.CONTRACT_PATH))
                    {
                        @Html.ActionLink("Respond", "Respond", new { id = item.contractID })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.contractID})
                    }
                </td>*@
                <td>
                    @Html.ActionLink("Respond", "Respond", new { id = item.contractID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.contractID})
                </td>
            </tr>
        }
        }

    </table>
