@model MVC_DATABASE.Models.ViewModels.AccountManagement
@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Vendor Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.ORGANIZATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.ORGANIZATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.FIRSTNAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorContact.CONTACTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorContact.CONTACTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorContact.CONTACTEMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorContact.CONTACTEMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorContact.CONTACTPHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorContact.CONTACTPHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.VENDSTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.VENDSTATUS)
        </dd>
        <dd class="col-md-10">
            @if (String.IsNullOrWhiteSpace(Model.Vendor.W9))
            {
                <p>This vendor does not have a W-9 on file</p>
            }
            else
            {
                @Html.ActionLink("Download W-9", "DownloadW9", new { path = Model.Vendor.W9 })
            }
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferedCategory.CATEGORY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferedCategory.ACCEPTED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferedCategory.Id)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.OfferedCategoryList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACCEPTED)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "EditVendor", new { id = Model.AspNetUser.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

