@model MVC_DATABASE.Models.VendorRegister
          
@{ Layout = "~/Views/Shared/_RegisterLayout.cshtml"; }
@{
    ViewBag.Title = "New Vendor Register";
}


<div id="reg-form">
<h2>@ViewBag.Title</h2>



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", @placeholder = "Please enter your email address." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control", @placeholder = "Please enter a password." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", @placeholder = "Please re-enter your password." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDOR.ORGANIZATION, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDOR.ORGANIZATION, new { @class = "form-control", @placeholder = "Please enter your company name." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDOR.FIRSTNAME, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDOR.FIRSTNAME, new { @class = "form-control", @placeholder = "Please enter your full name." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDOR.LASTNAME, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDOR.LASTNAME, new { @class = "form-control", @placeholder = "Please enter your full name." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Phone, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.RegisterViewModel.Phone, new { @class = "form-control", @placeholder = "Please enter a phone number" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDORCONTACT.CONTACTNAME, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDORCONTACT.CONTACTNAME, new { @class = "form-control", @placeholder = "Please enter a secondary contact person." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDORCONTACT.CONTACTEMAIL, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDORCONTACT.CONTACTEMAIL, new { @class = "form-control", @placeholder = "Please enter a secondary contact email." })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VENDORCONTACT.CONTACTPHONE, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.VENDORCONTACT.CONTACTPHONE, new { @class = "form-control", @placeholder = "Please enter a secondary contact phone number." })
            </div>
        </div>


        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(model => model.CategoryList, htmlAttributes: new { @class = "control-label" })
                </div>
                <!--Html.ListBox("CATEGORY", null, htmlAttributes: new MultiSelectList("CATEGORY"))-->
                <div class="col-sm-12">
                    Hold 'Ctrl' key to select multiple categories
                    @Html.ListBoxFor(m => m.CategoryList, (MultiSelectList)ViewBag.CATEGORY, new { @class = "form-control", @style = "width: 400px; height: 750px" })
                </div>
            </div>
            
            <hr />

            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        </div>
    </div>
}
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
