@model MVC_DATABASE.Models.ViewModels.MessageIndex

@{
    ViewBag.Title = "Message Inbox";
    ViewBag.From = "Baptist Health SCM";
}

<table id="expired-tabs">
    <tr>
        <td>
            @Html.ActionLink("Compose Message", "VendorCreate", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
        <td>
            <h2>Message Inbox</h2>
        </td>
        <td>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.message.SENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message.FROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message.SUBJECT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.messagelist)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SENT)
            </td>
            <td>
                @ViewBag.From
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBJECT)
            </td>
            <td>
                @Html.ActionLink("View", "VendorDetails", new { id = item.PK }) |
                @Html.ActionLink("Delete", "VendorDelete", new { id = item.PK })
            </td>
        </tr>
    }

</table>
<table id="expired-tabs">
    <tr>
        <td>
            @Html.ActionLink("Compose Message", "VendorCreate", null, new { @class = "btn btn-primary btn-sm btn-rfi" })
        </td>
        <td></td>
        <td></td>
    </tr>
</table>