@model MVC_DATABASE.Models.NEGOTIATION

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/jscript">
        $(function(){
            $("#RFPID").on("change", function (e) {
                var dropValue = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAcceptedVendors", "NEGOTIATIONs")",
                    data: {
                        RFPID: dropValue
                    },
                    datatype: 'JSON',
                    contentType: "application/json"
                })
                    .done(OnSuccessPopulateListBox)
                    .fail(function (data) { showError(data); });
            });

            function OnSuccessPopulateListBox(data) {
                $("#Id").empty()
                data.forEach(function (vendor) {
                    $("#Id").append('<option value =' + vendor.Id + '>' + vendor.ORGANIZATION + '</option>')
                });
                $("#Id").show()
                //debugger;
            }
            function showError(data) {
                debugger;
            }
        });
    </script>
}


@{
    ViewBag.Title = "Start Negotiation";
}

<h2>Start Negotiation</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NEGOTIATION</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RFPID, "RFP Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RFPID, new SelectList(ViewBag.RFPID, "RFPID", "RFPID"))
                @Html.ValidationMessageFor(model => model.RFPID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Id, (SelectList)ViewBag.Id)
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

                <div class="checkbox">
                    @Html.HiddenFor(model => model.CLOSED, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CLOSED, "", new { @class = "text-danger" })
                 </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Negotiations", "Index")
</div>


