@model MVC_DATABASE.Models.ViewModels.NegIndex

@using MVC_DATABASE.Models;

@{
    ViewBag.Title = "History";
}

<h2>Negotiation History</h2>

<div class="form-group">
    @Html.LabelFor(model => model.negotiation.RFPID, "RFP Id", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.negotiation.RFPID, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.negotiation.AspNetUser.VENDOR.ORGANIZATION, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.negotiation.AspNetUser.VENDOR.ORGANIZATION, new { @readonly = "readonly", @class = "form-control" })
        <br />
    </div>
</div>

<table id="rfiresponsetable" class="table tablesorter">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.response.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.response.PATH)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.responselist != null)
        {

            int count = 1;
            string owner;
            string path;
            foreach (var item in Model.responselist)
            {
                path = item.PATH;
                VENDOR ven = item.AspNetUser.VENDOR;
                if (ven == null)
                {
                    owner = "Baptist Health";
                }
                else
                {
                    owner = ven.ORGANIZATION;
                }
                <tr>
                    <td>
                        @count
                        @{
                count++;
                        }
                    </td>
                    <td>
                        @owner
                    </td>
                    <td>
                        @Html.ActionLink(String.Format(item.PK + " " + owner), "DownloadResponse", new { path = item.PATH, id = item.PK })
                    </td>
                </tr>


            }
        }
    </tbody>

</table>

<p>
    @Html.ActionLink("Back to Negotiations", "Index")
</p>
